* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
 }
 
 .form {
   display: flex;
   flex-direction: column;
   width: 250px;
   gap: 10px;
   padding: 10px;
   border: 1px solid;
 }

 .containerOpcoes{
  display: flex;
  justify-content: space-between;
}
 
 input{
   font-size: 1rem;
   padding: 8px 10px;
   outline: none;
 }
 
 button {
   border: none;
   border-radius: 4px;
   cursor: pointer;
   color: #fff;
   background: #444 ;
   font-size: 1rem;
   padding: 8px 10px;
 }
 
 .d-flex {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 
 input[type="radio"]{
   width: 20px;
   height: 30px;
 }
 
 #res {
   font-weight: bold;
 }
